.image-component{
    width: 100%;
    height: 190px;
    transition: all 0.5s ease-in-out;
}
 
.breed-container .card{
    width: 300px;
    height: 300px;
    transition: all 0.5s ease-in-out;
}

.breed-container .card:hover{
    width: 400px;
    height:390px;
    z-index: 99;
}

.breed-container .card .card-body{
    background-color: rgba(248, 249, 250, 1);
    max-height:120px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.breed-container .card::after{
    content: "";
    display: block;
    width: 0;
    background: #E25E3E;
    transition: width 1s ease;
}

.breed-container .card:hover .card-body{
    max-height: 200px;
}

.breed-container .card:hover::after{
    height:2px;
    width: 100%;
}

.breed-container .card:hover .image-component{
    width: 400px;
}

.breed-info{
    list-style: none;
    padding-left: 0;
}

.breed-info-label{
    font-size: 0.90rem;
}

.text-orange{
    color:#E25E3E;
}

.table tbody tr td{
padding: 0.2rem 0.2rem;
}